<<<<<<< HEAD
<html lang="en">
<link href="style.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
<title>Blog post</title>
<body class="bluebg">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home-page">Home Page</a>
    <a href="/blog">Blog</a>
  </div>

  <button class="menubutton" onclick="openNav()">Menu</button>


  <div class="center">
  <form action="/blogpost" method="post">
    Title:<br>
    <input id="title" type="text" name="title"><br>
    Content:<br>
    <input id="content" type="text" name="content"><br>
    <input type="submit" value="Post">
  </form>
  <div class="center">
</body>
=======
<html lang="en">
<link href="style.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
<title>Blog post</title>
<body class="bluebg">
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home-page">Home Page</a>
    <a href="/blog">Blog</a>
  </div>

  <button class="menubutton" onclick="openNav()">Menu</button>


  <div class="center">
  <form action="/blogpost" method="post">
    Title:<br>
    <input id="title" type="text" name="title"><br>
    Content:<br>
    <input id="content" type="text" name="content"><br>
    <input type="submit" value="Post">
  </form>
  <div class="center">
</body>
>>>>>>> 71684e490c6d42b0dd76ef64d538692861cef8fd
