<html lang="en">
<link href="style.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
<title>Blog post</title>
<body class="bluebg">
  <div class="center">
  <form action="post()">
    Title:<br>
    <input type="text" name="title"><br>
    Content:<br>
    <input type="text" name="content"><br>
    <input type="submit" value="Post">
  </form>
  <div class="center">
</body>
