<!-- Styling to do: change colors and possibly borders. Change background and add more pictures -->
<html lang="en">
<link href="style.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
<title>Home</title>
<body class="bluebg">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/blog">Blog</a>
  </div>

  <button class="menubutton" onclick="openNav()">Menu</button>

  <h1> Hello, My Name is Ronald Persaud</h1>
  <h2 class="center"> Welcome to my blog.</h2>


  <ul class="center">
    <li> <a target="_blank" href="https://github.com/rpersaud7">My GitHub</a></li>
    <li> <a target="_blank" href="https://www.linkedin.com/in/ronald-persaud-04400ba6/">My LinkedIn</a></li>
  </ul>

  <p class="center">
    I am currently a student at Lehman College pursuing my BS in Computer Science. I am 20 years old.
  </p>

</body>
