<link href="style.css" rel="stylesheet" type="text/css">
<script src="app.js"></script>
<title>Home</title>
<body class="bluebg">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/home">Home</a>
    <a href="/blog">Blog</a>
  </div>

  <div class="center">
    <h1> Projects </h1>
    <ul id="projects">
      <h2>Jukebox</h2>
      <img src="https://gyazo.com/57b6fb0147aca374bd5ac94ae34c81bf">
      <a src=""
       
    </ul>
  <button class="menubutton" onclick="openNav()">Menu</button>
</body>
